26 22	* * 0	root env DISPLAY=:0 bash $HOME/start.sh
30 21	* * 0	root env DISPLAY=:0 bash $HOME/start.sh
30 9	* * 1	root env DISPLAY=:0 bash $HOME/start.sh
30 11   * * 1	root env DISPLAY=:0 bash $HOME/start.sh
30 13   * * 1	root env DISPLAY=:0 bash $HOME/start.sh
30 15	* * 1	root env DISPLAY=:0 bash $HOME/start.sh
30 21	* * 1	root env DISPLAY=:0 bash $HOME/start.sh
30 9	* * 2	root env DISPLAY=:0 bash $HOME/start.sh
30 11	* * 2	root env DISPLAY=:0 bash $HOME/start.sh
30 13	* * 2	root env DISPLAY=:0 bash $HOME/start.sh
30 15	* * 2	root env DISPLAY=:0 bash $HOME/start.sh
30 21	* * 2	root env DISPLAY=:0 bash $HOME/start.sh
30 9	* * 3	root env DISPLAY=:0 bash $HOME/start.sh
30 11	* * 3	root env DISPLAY=:0 bash $HOME/start.sh
30 13	* * 3	root env DISPLAY=:0 bash $HOME/start.sh
30 15	* * 3	root env DISPLAY=:0 bash $HOME/start.sh
30 21	* * 3	root env DISPLAY=:0 bash $HOME/start.sh
30 9	* * 4	root env DISPLAY=:0 bash $HOME/start.sh
30 11	* * 4	root env DISPLAY=:0 bash $HOME/start.sh
30 13	* * 4	root env DISPLAY=:0 bash $HOME/start.sh
30 15	* * 4	root env DISPLAY=:0 bash $HOME/start.sh
30 21	* * 4	root env DISPLAY=:0 bash $HOME/start.sh
30 9	* * 5	root env DISPLAY=:0 bash $HOME/start.sh
30 11	* * 5	root env DISPLAY=:0 bash $HOME/start.sh
30 13	* * 5	root env DISPLAY=:0 bash $HOME/start.sh
30 15	* * 5	root env DISPLAY=:0 bash $HOME/start.sh
